::-webkit-scrollbar {
	width: 4px;
	height: 8px;
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background-color: #bfbfbf;
}

.page-nav{
  display: none;
}

ul li{
  margin-bottom:10px;
}

.bgCon{
  position:absolute;
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  overflow:hidden;

  .bg{
    position:absolute;
    width:calc(100vw + 20px);
    height:calc(100vh + 20px);
    left:-10px;
    top:-10px;
    background-position:center;
    background-size:cover;
    background-image: url('https://assets.qinmei.org/images/bg.jpeg');
    filter:blur(5px) brightness(0.9)
  }

}

.hero{
  display:none;
}

.content{
  position:relative;
  min-height:80vh;
  line-height:1;
  z-index:1;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  .info{
    font-size:22px;
  }
  .list{
    margin-top:40px;
    display: flex;
    flex-wrap: wrap;

    .action-button{
      width:120px;
      height:40px
      font-size: 16px;
      border-radius: 40px;
      color: #fff;
      background-color: #4569d4;
      border-color: #4569d4;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
      box-shadow: 0 2px 0 rgba(0,0,0,0.045);
      display:flex;
      justify-content: center;
      align-items: center;

      &:hover{
        opacity 0.9
      }
    }
  }
}

strong{
    color:#4569d4;
    margin-right: 5px;
}
video{
  width:100%;
}
