.theme-default-content:not(.custom){
    max-width:1100px;
}

.page .page-edit, .page .page-nav {
    max-width:1100px;
}

ul li{
    margin-bottom:10px;
}

.bg{
  position:absolute;
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  background-position:center;
  background-size:cover;
  background-image: url('https://qinvideo.org/video.jpg')
}

.hero{
  display:none;
}

.content{
  position:relative;
  min-height:60vh;
  line-height:1;
  z-index:1;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.info{
  font-size:22px;
}
.list{
  margin-top:40px;
  display: flex;
  flex-wrap: wrap;
}
.action-button{
    padding: 8px 20px 10px 20px;
    font-size: 16px;
    border-radius: 40px;
    color: #fff;
    background-color: #4569d4;
    border-color: #4569d4;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    margin-bottom:15px;
}
::-webkit-scrollbar {
	width: 4px;
	height: 8px;
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background-color: #bfbfbf;
}

strong{
    color:#4569d4;
    margin-right: 5px;
}
video{
  width:100%;
}